fastapi
uvicorn
prometheus-client
pydantic
langchain
langchain-core
langchain-ollama
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers
transformers
torch
python-dotenv
pypdf
PyPDF2
PyMuPDF
requests
streamlit
pydantic-settings
nltk 
rouge-score